.title {
  text-align: center;
}

.search {
  width: 410px;
  margin-top: 20px;
}

.add {
  width: 410px;
  margin-top: 20px;
}

.search-button {
  width: 60px;
}

@media (max-width: 990px) {
  .search-button {
    margin-top: 20px;
  }
}

.person {
  margin-top: 20px;
}

.contactItem {
  border: 1px solid gainsboro;
  padding: 30px;
}